.search_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    padding: 40px 20px;
    width: 78.8%;
    height: 129px;

    @media screen {
        @media(max-width: 1200px) and (min-width: 900px){
            .search{
                width: 300px !important;
            }
        }
        @media(max-width:900px) and (min-width: 600px){
            .search{
                width: 200px !important;
            }
        }
        @media (max-width: 600px){
            gap: 30px;
            .search{
                width: 185px !important;
            }
            .search_select{
                width: 130px !important;
            }
        }   
    }

    .search_icon{
        position: absolute;
        padding: 10px 5px 5px 10px;
        font-size: 20px;
    }

    .search{
        outline: none;
        border: none;
        width: 440px;
        height: 49px;
        padding: 10px 10px 10px 40px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 12px;
    }

    .search_select{
        outline: none;
        border: none;
        padding: 10px 10px 10px 30px;
        width: 169px;
        height: 49px;
        border-radius: 5px;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 12px;
        cursor: pointer;
    }
}

 
.countries_section{
    max-width: 78.8%;
    display:grid;
    margin: 0px auto;
    padding:20px;
    gap: 48px;
    grid-template-columns: repeat(4, 1fr);

    @media screen{
        @media(max-width:1200px) and (min-width:900px){
            grid-template-columns: repeat(3, 1fr);
        }
        @media(max-width:900px) and (min-width: 600px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width: 600px){
            grid-template-columns: repeat(1, 1fr);
        }
    }
 

    & a p{
        margin: 4px 0px;
        font-size: 0.875rem;
        font-weight: 600;
    }
    & span{
        font-weight: 300;
    }
    & a{
        box-shadow: rgb(0, 0, 0, 0.07) 0px 2px 12px; 
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden;
        transform: scale(0.9);
    }

    & a:hover{
        transform: scale(1.1);
    }

    & a div:first-child{
        height: 160px;
        overflow: hidden;
    }

    & a div:first-child img{
        min-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & a div:last-child {
        padding: 16px;
    }

    & a h2{
        margin-bottom: 16px;
        font-size: 1.125rem;
    }
    .flag_img{
        width: 100%;
        height: 100%;
    }
    
}

.countries_section *{
    background-color: rgb(255, 255, 255);
    color: rgb(17, 21 ,23);
}    

a{
    text-decoration: none;
}
