.nav{
    display: flex;
    width: 100%;
    height: 74px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(0, 0, 0, 0.06);

    @media screen and (max-width: 600px){
        .content{
            gap: 20px;
        }
    }
    .content{
        display: flex;
        width: 78.8%;
        height: 72px;
        background-color: rgb(255, 255, 255);
        margin: 0px auto;
        padding: 16px 20px;
        align-items: center;
        justify-content: space-between;

        .title{
            font-size: 1.25rem;
        }

        .mode{
            padding: 8px;
            display: flex;
            align-items: center;

            .icon{
                display: flex;
                cursor: pointer;
                font-size: 1.50em;
            }

            .mode_button{
                cursor: pointer;
                background-color: transparent;
                border: none;
                margin-left: 3px;
                color: rgb(17, 21, 23);
                fill: rgb(17, 21 ,23);
                font-size: 1em;
            }
        } 
    }
}